/* 列表页专属样式 */
.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    font-weight: 700;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    line-height: 49px;
    padding: 0 20px;
    font-size: 14px;
}

.sk_con ul li:last-child a::after {
   content: "";
   font-family: 'icomoon';
   content: "\ea43";
}

.sk_container .sk_hd h3{
    text-align: center;
    font-size: 28px;
}

.sk_container .sk_bd ul li {
    overflow: hidden;
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
}

.sk_container .sk_bd ul li:hover {
    border: 1px solid #c81523;
}

.sk_container .sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_container .sk_bd ul li h3 {
   font-weight: 400;
   
}

.sk_container .sk_bd ul li .b {
    border: 1px solid #c81523;
    color: #c81523;
    margin-right: 5px;
}

.sk_container .sk_bd ul li .jiazhi {
    background-color: gray;
    width: 90px;
    height: 20px;
    margin-top: 5px;
}

.sk_container .sk_bd ul li .new_price {
    color: #c81523;
    font-size: 24px;
}

.sk_container .sk_bd ul li .old_price {
    color: gray;
    font-size: 14px;
    text-decoration: line-through;
}

.progress {
    display: inline-block;
    width: 80px;
    height: 8px;
    background-color: #ffc;
    border-radius: 10px;
}

.progress div {
    background-color: #c81523;
    width: 50%;
    height: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}